<strong>Recuperação de senha</strong>
<p>Uma recuperação de senha foi solicitada para o e-mail {{ email }}.</p>
<p>Utilize o token {{ token }} ou utilize o link abaixo.</p>
<a href="{{ link }}"> Criar nova senha</a>